* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(images/header-image.png);
  background-size: cover;
  background-position: center;

  position: relative;
}

.logo {
  width: 150px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 40px;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Updated alignment property */
  height: 100vh;
  padding-top: 10px;
  /* Add padding to create space at the top */
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 70px;
  border-radius: 4px;
}

h2 {
  margin-top: 35px;
  font-size: 30px;
  margin-bottom: 30px;
}

.input-text {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px 15px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  background-color: #303030;
  color: #fff;
}

.button-container {
  text-align: center;
  margin-top: 40px;

}
.input-text .warning-input{
  
  color:#e87c03;
  font-size: 0.8rem;
  display: none;
  
}

button {
  background-color: #e50914;
  color: #fff;
  padding: 13px 130px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.remember-flex {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px;


}

.color_text {
  color: #faf8f873;
  text-decoration: none;
  font-size: 13px;
}

.help {
  margin-left: auto;
}

.signup-link {
  margin-top: 50px;
  color: #635c5c;
}

.signup-link a {
  color: #fff;
  margin-top: 55px;
  font-size: 15px;
}

.reCapcha-link {
  font-size: 13px;
  color: #635c5c;
  margin-top: 10px;
  margin-bottom: 65px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
}

.footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #777;
  margin-left: 60px;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  padding: 20px 5% 10px;
}

.footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 17px;
  margin-bottom: 10px;
}
.col a:hover{
  text-decoration: underline;
}
.button-container button:hover{
  background-color: #ad040c;
}

/* Existing CSS code */

/* Media queries for small screens */

@media screen and (max-width: 740px) {
  body {
    background: black;
  }

  .logo {
    margin-left: 22px;
  }

  .signin-container {
    padding: 0 10px 0 10px;
    width: 100%;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;

  }

  .footer {
    border-top: 1px solid #737373;
  }

  .header {
    padding-bottom: 93px;
  }

  .row {
    width: 33%;
  }

}

@media screen and (max-width: 500px) {
  .col{
    width: 50%;
  }
}